@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
.abtus{
    min-height: 100vh;
    width: 100%;
    background-image: url(Images/aboutuswebpage2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 122px;
    cursor: pointer;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 24.9px;
    position: relative;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 655;
    margin-top: 1px;
}
.nav-links ul li a{
    color: #505f1c;
    text-decoration: none;
    font-size: 16.5px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #505f1c;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90;
    color: #505f1c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 72px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*about us css*/

.info1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}
.info1 h2{
    font-size: 60px;
    font-weight: 900;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.info1 p{
    color: #505f1c;
    font-size: 16.5px;
    font-weight: 300;
    line-height: 40px;
    padding: 50px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.row{
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
}
.row .imgWrapper{
    overflow: hidden;
}
.row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.row .imgWrapper:hover img{
    transform: scale(1.25);
}
.row .contentWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.row .contentWrapper span.textWrapper{
    display: block;
    font-size: 25px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    gap: 15px;
    margin-bottom: 50px;
}
.row .contentWrapper span.textWrapper span{
    display: inline-block;
    background: #505f1c;
    width: 50px;
    height: 0px;
}

/*row 2 about us page*/
.row2{
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
}
.row2 .imgWrapper2{
    overflow: hidden;
}
.row2 .imgWrapper2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.row2 .imgWrapper2:hover img{
    transform: scale(1.25);
}
.row2 .contentWrapper2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.row2 .contentWrapper2 span.textWrapper2{
    display: block;
    font-size: 25px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    gap: 15px;
    margin-bottom: 50px;
}
.row2 .contentWrapper2 span.textWrapper2 span{
    display: inline-block;
    background: #505f1c;
    width: 50px;
    height: 0px;
}

/*row 3 about us page*/
.row3{
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
}
.row3 .imgWrapper3{
    overflow: hidden;
}
.row3 .imgWrapper3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.row3 .imgWrapper3:hover img{
    transform: scale(1.25);
}
.row3 .contentWrapper3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.row3 .contentWrapper3 span.textWrapper3{
    display: block;
    font-size: 25px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    gap: 15px;
    margin-bottom: 50px;
}
.row3 .contentWrapper3 span.textWrapper3 span{
    display: inline-block;
    background: #505f1c;
    width: 50px;
    height: 0px;
}

 /*recent proj css*/
 .recproj{
    min-height: 100vh;
    width: 100%;
    background-image: url(Images/recproj4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 150px;
}
.text-box2{
    width: 90;
    color: #505f1c;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
}
.text-box2 h3{
    font-size: 75px;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-bottom: 40px;
}
.text-box2 p2{
    margin: 45px 0 45px;
    font-size: 16.5px;
    color: #505f1c;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-right: 90px;
}

/*footer css*/

footer {
    margin-bottom: 50px;
    padding: 0;
    margin-top: 150px;
    background-color: transparent;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    color: #808080;
}

h6 {
    font-size: 31.5px;
    font-weight: 900;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: black;
    margin-bottom: 100px;
}

p {
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    color: #505f1c;
    font-size: 17px;
    margin: 10px 40px;
}

.social-icon {
    color: black;
    transition: color 0.2s;
    font-size: xx-large;
    text-decoration: none;
    margin: 100px 38px;
}

    .social-icon:hover {
        color: #505f1c;
    }